*,
*::after,
*::before{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block; 
}
ul{
    list-style: none;
    padding-inline-start: 0;
}



body{
    color: #505050;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    background: rgb(241, 227, 227);
}

.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-content{
    max-width: 970px;
    margin: 0 auto;
}
.section-line{
    border-bottom: 1px solid rgba(208, 212, 216, .5);
}
.title{
    font-family: Georgia;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #4E5665;
    font-weight: normal;
}

.header_top{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 40px;
}
.header_top-inner{
    font-family: Georgia;
    border: 2px solid #ECB84C;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #ffffff;
}
.header_title{
    font-weight: bold;
    font-size: 200px;
    line-height: 227px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin: auto;
}

.header_text{
    font-size: 24px;
    line-height: 27px;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    white-space: nowrap;
    align-items: center;
    margin-bottom: -13px;
}

.header_text::after,
.header_text::before{
    content: "";
    border-top: 2px solid #ECB84C;
    width: 101%;
}
.header_text::after{
margin-left: 30px;
}
.header_text::before{
margin-right: 30px;
}

.menu{
    border-bottom: 1px solid rgba(208, 212, 216, .5);
    max-height: 68px;
}
.menu_list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu_list-link{
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    padding: 24px 10px 20px;
    color: #909090;
    margin: 0 6px;
    border-bottom: 4px solid transparent;
    transition: all .5s;
}
.menu_list-link:hover{
    color:#4E5665;
    border-bottom: 4px solid #ECB84C;
}
.menu_list-link{
    text-decoration: none;
}

.reason{
    padding: 10px 0 ;
    max-width: 970px;
    margin: -100px auto;
}

.reason_title{
    margin-bottom: 22px;
}

.reason_link{
    text-align: right;
}
.reason_link a{
    font-weight: 700;
    color: #ECB84C;
    margin-bottom: 36px;
}
.reason_statistics{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-bottom: 80px;
}
.reason_statistics-num{
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #4E5665;
}
.reason_statistics-text{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #909090;
}
.about{
    padding: 80px 0 0;
}
.about_title{
    margin-bottom: 13px;
}
.about_text{
    margin-bottom: 72px;
}
.about_item{
    margin-bottom: 100px;
    padding: 70px 0;
    background-repeat: no-repeat;
    background-position: right;
}
.about_preview-title{
    margin-bottom: 38px;
}
.about_preview-text{
    margin: 53px auto 80px;
}
.about_images-box{
    padding-top: 73px;
}
.about_box{
    padding: 33px 40px 18px 40px;
    background-color: #ffffff;
    max-width: 470px;
    position: relative;
    background: rgb(233, 221, 221);
}

.about_box::after,
.about_box::before{
    content:"";
    position: absolute;
    width: 33px;
    height: 33px;
}

.about_box::before{
    background-image: url(../images/corner_up.svg);
    top: 37px;
    left: 19px;
}
.about_box::after{
    border-bottom: 2px solid #ECB84C;
    border-right: 2px solid #ECB84C;
    right: 19px;
    bottom: 19px;
}

.about_box-title{
    font-family: Georgia;
    font-size: 24px;
    line-height: 25px;
    color: #4E5665;
    margin-bottom: 20px;
}
.about_item:nth-child(even){
    background-position: left;
}
.about_item:nth-child(even) .about_box{
    margin-left: auto;
}
.about_item:nth-child(even) .about_box::before{
    right: 19px;
    left: auto;
    transform: rotate(90deg);
}
.about_item:nth-child(even) .about_box::after{
    left: 19px;
    border-right: none;
    border-left: 2px solid #ECB84C;
}
.photo{
    padding: 80px 0;
}
.photo_title{
    margin-bottom: 42px;
}
.photo_text{
    padding-bottom: 48px;
    margin-bottom: 56px;
    position: relative;
}
.photo_text::after{
    content: "";
    position:absolute;
    width: 270px;
    height: 1px;
    background-color:rgba(208, 212, 216, .5);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.photo_slider{
    max-width: 640px;
    margin: 0 auto;
    filter: drop-shadow(0px 2px 24px rgba(0, 0, 0, 0.3));
    
}
.slick-arrow{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #ECB84C;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}
.slick-prev{
    left: -20px;
}
.slick-next{
    right: -20px;  
}
.footer{
    background: rgb(233, 221, 221);
    padding: 40px 0 32px;
}
.footer_items{
    display:flex;
    justify-content:space-between;
}
.footer_item{
    width: 140px;
}
.footer_item-company{
    width: 300px;
    padding-left: 180px;
}
.footer_item-blog{
    width: 300px;
}
.footer_items-title{
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #4E5665;;
    margin-bottom: 20px;
    text-transform: uppercase;
    
}
.footer_item-link{
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 8px;
}
.footer_item-link-social{
    padding-left: 28px;
    position: relative;
}
.footer_item-link-social::before{
    content: "";
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
}
.footer_item-link-message::before{
    background-image: url(../images/message.svg); 
    top: 1px;
    width: 17px;   
}
.footer_item-link-facebook::before{
    background-image: url(../images/facebook.svg);
}
.footer_item-link-instagram::before{
    background-image: url(../images/instagram.svg);
}
.footer_item-link-youtube::before{
    background-image: url(../images/youtube.svg);
}
.footer_item-link-email::before{
    background-image: url(../images/email.svg);
    height: 13px;
    top: 3px;
}


.footer_copy{
    padding-top: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 19px;
}